.hero-heading {
	border: 1px solid #e5e562;
	height: 62vh;
	background: #e5e562;
}
.hero-heading h1 {
	padding: 32px;
	margin: 7px;
}
.hero-heading p {
	padding: 27px;
	margin: 0px;
}
.hero-container {
	background-color: rgb(217, 251, 251);
}
